.cipipeline{
    display:flex;
}
.cipipeline img{
    width:700px;
}
.rightBarContainer{
    text-align: center;
}
.rightBarContainer p{
    font-size: small;
    padding: 5px;
    margin-bottom: 7px;
}