.pipelineItemHeader{
    display: flex;
    flex-direction: row;

}
.pipelineItemHeader span{
    font-size: 18px;
    font-weight:500;
}
.piplineLogo{
    width: 28px;
    height:28px;
    padding: 2px;
    color: seashell;
    margin: 20px;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    border-radius: 66px;
    background: #FB6C51;
    border: 3px solid #FB6C51;
}
.pipelineContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pipelineContentItem{
    padding: 8px;
    text-align: center;
    width: 85px;
    margin-left: 20px;
    margin-top: 10px;
    color: #FB6C51;
    font-size: small    ;
    border-radius:20px ;
    background-color: rgb(252, 222, 222);
}