.pipelineItemHeader{
    display: flex;
    flex-direction: row;

}
.pipelineItemHeader span{
    font-size: 20px;
    margin-top: 20px;
    font-weight:500;
}
.piplineLogo{
    width: 30px;
    height: 30px;
    color: seashell;
    margin: 20px;
    text-align: center;
    font-size:20px;
    font-weight: bold;
    border-radius: 60px;
    background: #FF6347;
    border: 3px solid #FF6347;
}
.pipelineContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.pipelineContentItem{
    padding: 8px;
    text-align: center;
    width: 85px;
    margin-left: 20px;
    margin-top: 10px;
    color: orangered;
    font-size: small    ;
    border-radius:20px ;
    background-color: rgb(252, 222, 222);
}